<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async) && !isHomePage"
    >
      <mat-toolbar>ابحث...</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/projects/list" (click)="isHandSet() ? drawer.close() : false">تصفح المشاريع</a>
        <a mat-list-item *ngIf="(isAuthority$ | async)" routerLink="/projects/new" (click)="isHandSet() ? drawer.close() : false">أضف مشروع</a>
        <a mat-list-item routerLink="/session/login" *ngIf="!(isLoggedIn$ | async)">سجل دخول</a>
        <a mat-list-item routerLink="/session/register" *ngIf="!(isLoggedIn$ | async)">حساب جديد</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="nav-side-container">
      <mat-progress-bar *ngIf="(barLoading$ | async)" mode="query" style="position: fixed; z-index: 10;"></mat-progress-bar>
      <mat-toolbar color="primary" [ngClass]="{'nav-home': isHomePage}">
        
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="(isHandset$ | async) || true"
        >
          <mat-icon
            aria-label="Side nav toggle icon"
            class="burger"
            [ngClass]="{'rotate-burger': drawer.opened}"
            >menu</mat-icon
          >
        </button>
        <div class="logo-container" routerLink="/home">
          <img src="../../../assets/logo/logo.png" alt="شعار" class="logo"/>
          <span class="logo-text">ساهم</span>
        </div>

        <div *ngIf="!(isHandset$ | async)" class="nav-links">
          <button mat-button *ngIf="(isAuthority$ | async)" class="nav-button-link" routerLink="/projects/new">
            <mat-icon>add</mat-icon>
            أضف مشروع
          </button>

          <button mat-button class="nav-button-link" routerLink="/projects/list">
            <mat-icon>layers</mat-icon>
            تصفح المشاريع
          </button>
        </div>

        <span class="spacer">

        </span>
        <div *ngIf="!(isHandset$ | async) && !(isLoggedIn$ | async)" class="nav-buttons-section">
          <button mat-stroked-button class="nav-buttons" routerLink="/session/login">
            <mat-icon>exit_to_app</mat-icon>
            سجل دخول
          </button>
          <button mat-stroked-button class="nav-buttons" routerLink="/session/register">
            <mat-icon>person_add</mat-icon>
            أنشئ حساب
          </button>
        </div>
        <div *ngIf="(isLoggedIn$ | async)" class="row nav-buttons-section avatar-container">
          <img  mat-button [matMenuTriggerFor]="menu" class="d-block" src="../../../assets/images/default-avatar.png" alt="" />
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">سجل خروج</button>
          </mat-menu>
        </div>
      </mat-toolbar>
      
      <router-outlet></router-outlet>
      <div class="ver-spacer"></div>
      <footer >
        <p class="text-center pt-3 font-weight-bold">جميع الحقوق محفوظة ساهم &copy;</p>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
