@import '../../../assets/theme-color.scss';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  display: inline-block;
  height: 70%;
  width: auto;
  margin: 0.7rem;
}

mat-sidenav {
  background-color: #eee;
}

.logo-text {
  color: #ceaf6e;
  font-weight: bolder;
}
