
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  transition: .3s;
}

mat-sidenav {
  background-color: #eee;
}

// styling nav bar on home page
.nav-home {
  background: transparent;
  position: absolute !important;
  .nav-links {
    .nav-button-link {
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
  .nav-buttons {
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

// logo styles
.logo-container {
  display: flex;
}

.logo {
  display: inline-block;
  height: 70%;
  width: auto;
  margin: 0.7rem;
  flex-basis: 1;
}

.logo-text {
  display: inline-block;
  color: #ceaf6e;
  font-weight: bolder;
  margin: 0.7rem;
  margin-top: 0.9rem;
  flex-basis: 1;
}

.burger {
  transition: 0.3s;
}

.rotate-burger {
  transform: rotate(-90deg);
}

mat-icon {
  transition: .1s;
}

.mat-toolbar {
  div {
    height: 100%;
    margin: 0;
  }
}

.nav-links {
  margin: 0 1rem;
  .nav-button-link {
    padding: 0rem 1rem;
    display: inline-block;
    color: #eee;
    text-decoration: none;
    height: 100%;
    border-radius: 0;
    font-size: 1rem;
    &:hover {
      background-color: #267c85;
      mat-icon {
        transform: scale(1.15);
      }
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.nav-buttons {
  margin: 0 .4rem;
  margin-top: .7rem;
  padding: .3rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border: .05rem #aaa solid;
  border-radius: 0;
  transition: .3s;
  &:hover {
    background-color: #267c85;
    border-radius: 1rem;
  }
  mat-icon {
    margin-left: .5rem;
  }
}


