<div class="img-container m-0 overflow-hidden">
    <app-backgroun-animation></app-backgroun-animation>
    <div class="landing-box">
      <h1 class="h2 text-white text-center font-weight-bolder">لنرتقِ بجامعتنا معًا</h1>
      <div class="row justify-content-center">
        <div class="col">
          <button mat-button class="landing-search-button" routerLink="/projects/list">
            اختر مشروعًا
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white">
    <div class="container">
      <div class="m-0 w-100 overflow-hidden bg-white row">
        <section class="col mt-5">
          <h2 class="h3 text-my text-center font-weight-bold">كيف تُساهم؟</h2>
          <ul class="how-list">
            <li>
              <mat-icon >check_circle</mat-icon>
              <h3 class="h4">اختر</h3>
              <p>تصفح المشاريع وتختر ما يتناسب منها مع مهاراتك وتخصصك.</p>
            </li>
            <li>
              <mat-icon>check_circle</mat-icon>
              <h3 class="h4">أعلن اختيارك</h3>
              <p>تقدم إلى المشروع وسجل فيه كمساهم.</p>
            </li>
            <li>
              <mat-icon>check_circle</mat-icon>
              <h3 class="h4">ابدأ العمل</h3>
              <p>ابدأ بالعمل على المشروع.</p>
            </li>
          </ul>
        </section>
        <div class="col how-image m-3 mt-5 mb-5" *ngIf="!(isHandset$ | async)">
          <img
            src="../../../assets/images/real-estate-agency.svg"
            alt="real-estate-agency"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="benfit-container">
    <div class="container">
      <div class="m-0 w-100 overflow-hidden row">
        <div class="benfit-img col" *ngIf="!(isHandset$ | async)">
          <img
            src="../../../assets/images/biomass.svg"
            alt="real-estate-agency"
          />
        </div>
        <section class="col">
          <h2 class="h3 text-my-s font-weight-bold text-center">كيف تستفيد من ساهم؟</h2>
          <ul class="benfit-list">
            <li>
              <mat-icon>check_circle</mat-icon>
              <h3 class="h4">اطرح المطلوب</h3>
              <p>أنشئ مشروع جديد يصف المطلوب</p>
            </li>
            <li>
              <mat-icon>check_circle</mat-icon>
              <h3 class="h4">استقبل المساهمات</h3>
              <p>المساهمات وتواصل مع المساهمين وكون فريقك.</p>
            </li>
            <li>
              <mat-icon>check_circle</mat-icon>
              <h3 class="h4">استلم مشروعك</h3>
              <p>تابع مشروعك مع المساهمين واستلمه.</p>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
