.avatar-container {
  overflow: hidden;
  img {
    width: 100px;
    height: 100px;
    border-radius: .3rem;
    overflow: hidden;
    display: block;
    margin: 0 auto;
  }
}

mat-card {
  transition: .3s;
  &:hover {
    background-color: rgb(238, 240, 239);
    cursor: pointer;
  }
}
mat-card-title, mat-card-subtitle {
  text-align: right;
}

.authority-link {
  &:hover {
    text-decoration: none;
  }
}
