<mat-card
matRipple
  [@animate]="{
    value: '*',
    params: { delay: animationOrder * 150 + 'ms', y: '50px' }
  }"
  [routerLink]="'/projects/'+project.id"
>
  <div class="row">
    <div *ngIf="!(isHandset$ | async)" class="col-2 avatar-container">
      <img src="../../../assets/images/default-avatar.png" alt="" />
    </div>
    <div class="col">
      <mat-card-header>
        <mat-card-title [routerLink]="'/projects/'+project.id">{{ project.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row mt-2">
          <mat-card-subtitle class="col-lg-4">
            <a [routerLink]="'/home'" class="text-decoration-none text-secondary">{{
              project.authority.name
            }}</a>
          </mat-card-subtitle>
          <mat-card-subtitle class="col-lg-3">
            {{ project.category }}</mat-card-subtitle
          >
          <mat-card-subtitle class="col-lg-3" [title]="project.created_at.split(' ')[0]"> {{ project.created_at.split(" ")[0] }}</mat-card-subtitle>

          <mat-card-subtitle class="col-lg-2">
            عدد العروض: {{ project.offers_num ? project.offers_num : 0 }}</mat-card-subtitle
          >
        </div>
      </mat-card-content>
    </div>
  </div>
</mat-card>
