/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
}
* {
  font-family: 'Cairo', sans-serif;
}

.container {
  width: 95%;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 90%;
  }
}
