<div
  class="container mt-4"
  [@animate]="{
    value: '*',
    params: { delay: 1 * 150 + 'ms', y: '50px' }
  }"
>
  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-1">
      <span class="badge badge-success float-right">{{ project?.status }}</span>
    </div>
    <div class="col-lg-11">
      <h2 class="font-weight-bold">{{ project?.title }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-4 col-lg-2 mt-2">
      <span class="float-right text-primary">
        يسلّم في
      </span>
    </div>
    <div class="col-4 col-lg-2 mt-2">
      <span class="float-right text-primary">المجال</span>
    </div>
    <div class="col-4 col-lg-8 mt-2">
      <span class="float-right text-primary">
        أنشأ في
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-4 col-lg-2 mt-2">
      <span class="float-right text-muted">
        {{ project?.end_date }}
      </span>
    </div>
    <div class="col-4 col-lg-2 mt-2">
      <span class="float-right text-muted">{{ project?.category }}</span>
    </div>
    <div class="col-4 col-lg-8 mt-2">
      <span class="float-right text-muted"
        >{{ (project?.created_at.split(" "))[0] }}
      </span>
    </div>
  </div>

  <!-- Authority Details -->
  <mat-card class="row my-3">
    <div class="row">
      <div class="col-12">
        <mat-card-header class="border-bottom mb-2">
          <mat-card-title class="font-weight-bold">صاحب المشروع</mat-card-title>
        </mat-card-header>
      </div>
      <div *ngIf="!(isHandset$ | async)" class="col-1 avatar-container">
        <img src="../../../assets/images/default-avatar.png" alt="" />
      </div>
      <div class="col">
        <mat-card-content>
          <div class="row mt-2">
            <mat-card-subtitle class="col-lg-4">
              <a
                [routerLink]="'/home'"
                class="text-decoration-none text-secondary"
                >{{ project?.authority.name }}</a
              >
            </mat-card-subtitle>
          </div>
        </mat-card-content>
      </div>
    </div>
  </mat-card>

  <!-- Desctiption -->
  <mat-card class="row my-3">
    <div class="row">
      <div class="col-12">
        <mat-card-header class="border-bottom mb-2">
          <mat-card-title class="font-weight-bold"
            >تفاصيل المشروع</mat-card-title
          >
        </mat-card-header>
      </div>
      <div class="col">
        <mat-card-content>
          <p>
            {{ project?.description }}
          </p>
        </mat-card-content>
      </div>
    </div>
  </mat-card>

  <!-- Skills -->
  <mat-card class="row my-3">
    <div class="row">
      <div class="col-12">
        <mat-card-header class="border-bottom mb-2">
          <mat-card-title class="font-weight-bold"
            >المهارات المطلوبة</mat-card-title
          >
        </mat-card-header>
      </div>
      <div class="col">
        <mat-card-content>
          <mat-chip-list>
            <mat-chip *ngFor="let skill of project?.skills">
              {{ skill }}
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </div>
    </div>
  </mat-card>

  <!-- OFFER INPUT -->
  <div class="row my-3">
    <!-- new offer if not auth -->
    <mat-card class="col-12 my-1">
      <mat-card-header class="border-bottom mb-2">
        <mat-card-title class="font-weight-bold"
          >لا يمكنك تقديم عرض</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <p>
          أنت غير مسجل حاليا. سجّل دخولك أو أنشئ حسابا جديدا، لتتمكن من تقديم
          عرضك على هذا المشروع.
        </p>
      </mat-card-content>
    </mat-card>

    <!-- new offer if auth -->
    <mat-card class="col-12 my-1">
      <mat-card-header class="border-bottom mb-2">
        <mat-card-title class="font-weight-bold">قدم عرضك</mat-card-title>
      </mat-card-header>
      <mat-card-content class="row">
        <mat-form-field class="col-12">
          <textarea
            cols="4"
            matInput
            placeholder="أدخل عرضك"
            [formControl]="description"
            required
          ></textarea>
          <mat-error *ngIf="description.hasError('required')"
            >وصف العرض ضروري لإكمال العرض</mat-error
          >
          <mat-error *ngIf="description.hasError('minlength')"
            >الوصف الذي أدخلته غير كافٍ</mat-error
          >
        </mat-form-field>
        <div class="col-1">
          <button
            mat-raised-button
            color="primary"
            type="button"
            class="row cbtn"
            (click)="createOffer()"
            [disabled]="btnLoading || description.invalid"
            title="{{
              description.invalid
                ? 'أكمل الحقول المطلوبة لتتمكن من الإضافة'
                : 'إضافة المشروع'
            }}"
          >
            <span *ngIf="btnLoading" class="col">جارِ الإضافة..</span>
            <span *ngIf="btnLoading" class="col">
              <mat-spinner
                class="d-inline-block mt-2"
                diameter="20"
                color="primary"
              ></mat-spinner>
            </span>
            <span *ngIf="!btnLoading" class="col">إضافة</span>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- OFFERS -->
  <div class="row my-3">
    <!-- offers header -->
    <mat-card class="col-12 my-1">
      <mat-card-header>
        <mat-card-title class="font-weight-bold">العروض</mat-card-title>
      </mat-card-header>
    </mat-card>

    <!-- if offers list is empty -->
    <mat-card *ngIf="!project?.offers.length" class="col-12 border">
      <mat-card-content>
        <mat-card-subtitle class="col-12 m-0">
          <p>لا توجد عروض مقدمة</p>
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>

    <!-- offers list -->
    <mat-card *ngFor="let offer of project?.offers" class="col-12 border">
      <div class="row">
        <div *ngIf="!(isHandset$ | async)" class="col-2 avatar-container-offer">
          <img src="../../../assets/images/default-avatar.png" alt="" />
        </div>
        <div class="col">
          <mat-card-content>
            <div class="row mt-2">
              <mat-card-subtitle class="col-12 m-0">
                <a
                  [routerLink]="'/home'"
                  class="text-decoration-none text-dark"
                  >{{
                    offer.student.first_name + " " + offer.student.last_name
                  }}</a
                >
              </mat-card-subtitle>
              <mat-card-subtitle class="col-12 m-0">
                <p class="text-decoration-none text-muted">
                  <small>{{ offer.student.major }}</small>
                </p>
              </mat-card-subtitle>
              <mat-card-subtitle class="col-12 m-0">
                <p class="text-decoration-none">{{ offer.description }}</p>
              </mat-card-subtitle>
            </div>
          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>
</div>
