<div class="container mt-3">
  <div class="row">
    <div class="col-6">
      <mat-form-field class="w-100">
        <input
          matInput
          placeholder="ابحث عن مشروع"
          [(ngModel)]="filterByTitle"
        />
      </mat-form-field>
    </div>
    <div class="col-6" style="float: left;">
      <mat-form-field class="w-100">
        <mat-label>التصنيف</mat-label>
        <mat-select [(ngModel)]="filterByCategory">
          <mat-option [value]="''">الكل</mat-option>
          <mat-option *ngFor="let cate of (categories$ | async)" [value]="cate">
            {{ cate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <app-project-item
    class="col-12 m-1"
    *ngFor="let project of filteredProjects$ | async; let i = index"
    [project]="project"
    [animationOrder]="i"
  ></app-project-item>
  </div>
</div>
